<html>
    <header>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </header>
    <body>
        <div id="app">
            <input v-model="message" placeholder="여기를 수정해보세요">
            <p>메시지: {{ message }}</p>

            <div>
                <span>여러 줄을 가지는 메시지:</span>
                <p style="white-space: pre-line">{{ messages }}</p>
                <br>
                <textarea v-model="messages" placeholder="여러줄을 입력해보세요"></textarea>
            </div>

            <div>
                <input type="checkbox" id="checkbox" v-model="checked">
                <label for="checkbox">{{ checked }}</label>
            </div>

            <div>
                <input type="radio" id="one" value="One" v-model="picked">
                <label for="one">One</label>
                <br>
                <input type="radio" id="two" value="Two" v-model="picked">
                <label for="two">Two</label>
                <br>
                <span>선택: {{ picked }}</span>
            </div>

            <div>
                <select v-model="selected">
                    <option disabled value="">Please select one</option>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                <span>선택함: {{ selected }}</span>
            </div>

            <div>
                <select v-model="selects" multiple>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                <br>
                <span>Selected: {{ selects }}</span>
            </div>

            <div>
                <select v-model="selectedFor">
                    <option v-for="option in options" :value="option.value">{{ option.text }}</option>
                </select>
                <span>Selected: {{ selectedFor }}</span>
            </div>

            <div>
                <input
                    id="toggleCheck"
                    type="checkbox"
                    v-model="toggle"
                    true-value="yes"
                    false-value="no"
                />
                <label for="toggleCheck">{{ toggle }}</label>
            </div>

            <div>
                <input
                    id="a"
                    type="radio"
                    v-model="pick"
                    :value="'a'"
                />
                <label for="a">a</label>
                <input
                    id="b"
                    type="radio"
                    v-model="pick"
                    :value="'b'"
                />
                <label for="b">b</label>
                <p>{{ pick }}</p>
            </div>

            <div>
                <select v-model="selected2">
                    <option disabled value="">select</option>
                    <option :value="{ number: 123 }">123</option>
                </select>
                <p>{{ selected2 }}</p>
            </div>
        </div>

        <script>
            var vm = new Vue({
                el: '#app',
                data: {
                    message: "",
                    messages: "",
                    checked: true,
                    picked: "",
                    selected: "",
                    selects: [],
                    selectedFor: "A",
                    options: [
                        { text: 'One', value: 'A' },
                        { text: 'Two', value: 'B' },
                        { text: 'Three', value: 'C' },
                    ],

                    toggle: "yes",
                    pick: "a",
                    selected2: "",
                },
            });
        </script>
    </body>
</html>